<h1>Join SimPaaS!</h1>

<p>
  <strong>{{ user }}</strong> asked you to join SimPaaS!
</p>

<p>
  Click on this <a href="{{ link }}">link</a> to create your account.
</p>

<p>
  Bye!<br>
  SimPaaS team.
</p>
